<div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
        <div class="kvadrat">
            <div class="datum">
                <link rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <i class="fa fa-location-arrow fa-4x" style="color: rgb(207, 18, 106);" aria-hidden="true"></i>
            </div>

            <div class="opis">
                <div class="naslov">
                    <h3>Arrived</h3>
                    <h4>Saturday</h4>
                    <button>Check</button>
                    <button>hello</button>
                </div>
            </div>
        </div>
    </alert>
</div>

<button type="button" class="btn btn-primary" (click)="add()">Add more</button>