.kvadrat {
	border-radius: 10px;
	margin-top: 100px;
	margin-left: 200px;
	width: 400px;
	height: 150px;
	background-color: #f5f5f5; 
	position: relative;
	float: left;
}

.datum {
	width: 100px;
	height: 100%;
	background-color: black;
	border-left-color: 3px blue;
	text-align: center;
   
    float: left;
        border-left-style: solid;
    border-left: thick solid #0487f7;
    border-radius: 10px 0px 0px 10px;
  	    transition: all 3s ease-in-out;
   background: linear-gradient(
      125deg,
      rgba(255 255 255 / 50%) 0%,
      rgba(255 155 255 / 0%) 50%,
      rgba(255 235 255 / 0%) 50%,
      rgba(20 150 250 / 50%) 100%
    );
}
.opis {
	

    margin-left: 60px;
}
.naslov {
	
	font-weight: bold;

    text-align: center;
      
}




